rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          "bankhuha888@gmail.com",
          "jaeautobot@gmail.com",
          "kam.khliktho@gmail.com"
        ];
    }

    match /assignments/{assignmentId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /scores/{scoreId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}